@charset "utf-8";
.test{background-color:cadetblue;
			text-align:center;
			border-radius:5px 5px 5px 5px;
			height:50px;
			padding:10px 0px 0px 0px; 
			font-family: tahoma;
		}
.bot{
			
			border-radius:10px 10px 10px 10px; 
			
	}
.tt{
	text-align:center;
	background-color: beige;
	border-radius:10px 10px 10px 10px;
} 
.pp{
			
			border-radius:10px 10px 10px 10px; 
			text-align: center;
			
		}
